<div class ="about-image">
  <div class="bg_dark">
    <div class="col-md-12">
      <h1 class="about-h1">作曲コミュとは？</h1>
      <p class="about-p">
        作曲コミュは、作曲に関する知識、テクニックを<br>
        閲覧、投稿することができるサイトです。
      </p>
    </div>
  </div>
</div>