<tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
        <td><%= user.user_name %></td>
        <td><%= link_to '詳細', profile_path(user) %></td>
      </tr>
    <% end %>
  </tbody>

  <%= link_to groups_path, class: "col-8 btn btn-outline-secondary btn-block mx-auto" do %>
            <i class="fas fa-users"></i> グループ一覧
          <% end %>