<tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
        <td><%= user.user_name %></td>
        <td><%= link_to '詳細', profile_path(user) %></td>
      </tr>
    <% end %>
  </tbody>