<div class="container">
  <div class="card card-container mx-auto mt-5 shadow-lg">
    <div class="text-center">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1 class="h3 mb-3 font-weight-normal">ログイン</h1>
      <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <!--<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>-->
                <%= f.email_field :email, autofocus: true, autocomplete: "email",:placeholder => "sample@example.com", class: "form-control" %>
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control mt-3" %>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me" class="my-3"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Log in</button>
            </form><!-- /form -->
      </div>
    <% end %>
    </div>
  </div>
</div>