<% flash.each do |message_type, message| %>
　　<%= message %>
<% end %>

<!--下記をViewページに貼り付けることでフラッシュメッセージを表示させる-->
<!--<div class="mx-auto">-->
<!--  <%#= render 'shared/flash_message' %>-->
<!--</div>-->