/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'actiontext';
@import 'trix/dist/trix.css';

// ヘッダーやフッターなどの全体↓

header {
  position: sticky;
  top: 0;
  z-index: 999;
  background: linear-gradient(to bottom right, #b31247, 50%, #660066);
}

html,body {
  height: 100%
}

body {/*擬似要素をつくる*/
  // position: fixed;/*固定配置*/
  top: 0; left: 0;/*左上に固定*/
  width: 100%; height: 100%;/*画面全体を覆う*/
  content: "";
  background: linear-gradient(to bottom, #bfb8cc 100%, #420ba8);/*正規のプロパティ*/
  }

.wrapper {
  min-height: 100%;
  /* フッタの高さと等しいネガティブマージン */
  /* また最後の子要素の潜在的なマージンとしても機能 */
  margin-bottom: -50px;
}

footer {
  height: 100px;
  background: linear-gradient(to bottom right, #b31247, 50%, #660066);
  width: 100%;
  position: absolute;
  bottom: 0;
/* Set the fixed height of the footer here */
}

.push {
  height: 100px;
  padding: 100px;
}

.search_form {
  width: 580px;
}

// ヘッダーやフッターなどの全体↑
// ホーム画面↓

.sakkyoku_commu {
  text-align: center;
}

.about-image {
  width: 100%;
  height: 100vh;
  background-image: image-url(asset_path('about2.jpg'));
}

.bg_dark {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding-top: 200px;
}

.about-h1 {
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.about-p {
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.bg_dark2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding-top: 100px;
}

// ホーム画面↑
// 新規投稿画面↓

.rich_area {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

// 新規投稿画面↑
// 投稿詳細画面↓

.post-show {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
 }

 .post-show-image {
   width: 100%;
   height: 250px;
   object-fit: cover;
 }

 .comment_area {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
 }

// 投稿詳細画面↑