<footer class="fixed-bottom mt-5">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <!--<p class="sakkyoku_commu">@sakkyoku_commu</p>-->
    </div>
  </nav>
</footer>